# {{ ansible_managed }}

deb {{ apt_mirror }} bookworm main contrib
deb http://security.debian.org/ bookworm-security 
deb {{ apt_mirror }} bookworm-updates main contrib
deb {{ apt_mirror }} bookworm-backports main contrib
deb http://download.proxmox.com/debian/pve bookworm pve-no-subscription