{% for fwdzone in standard_zones %}
zone "{{ fwdzone.zonename }}" IN {
        type master;
        file "{{ bindcfgdir }}/{{ fwdzone.zonefile }}";
        allow-update { none; };
};
{% endfor %}
{% for revzone in reverse_zones %}
zone "{{ revzone.zonename }}" IN {
        type master;
        file "{{ bindcfgdir }}/{{ revzone.zonefile }}";
        allow-update { none; };
};
{% endfor %}